.jumbotron.text-center
  .container
    h1 Welcome to 
      b ngBoilerplate!

    p.panel-body
      b ngBoilerplate 
      | will help you quickly and easily begin developing your wonderful app.
      br
      | Just do it!

    a.btn.btn-success.btn-lg.panel-body(href='') Start NOW!
